adfdevpmb/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory name",
			"defaultValue": "adfdevpmb"
		},
		"AzureDataLakeStorage1_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage1'"
		},
		"AzureDataLakeStorage10_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage10'"
		},
		"AzureDataLakeStorage11_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage11'"
		},
		"AzureDataLakeStorage2_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage2'"
		},
		"AzureDataLakeStorage3_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage3'"
		},
		"AzureDataLakeStorage4_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage4'"
		},
		"AzureDataLakeStorage5_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage5'"
		},
		"AzureDataLakeStorage6_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage6'"
		},
		"AzureDataLakeStorage7_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage7'"
		},
		"AzureDataLakeStorage8_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage8'"
		},
		"AzureDataLakeStorage9_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'AzureDataLakeStorage9'"
		},
		"DSsqlserver_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'DSsqlserver'"
		},
		"LS_ADLS_CSVFILES_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_ADLS_CSVFILES'"
		},
		"LS_bulk service_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'LS_bulk service'"
		},
		"SqlServer1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer1'"
		},
		"SqlServer2_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'SqlServer2'"
		},
		"ls_multiplepmb_csv_accountKey": {
			"type": "secureString",
			"metadata": "Secure string for 'accountKey' of 'ls_multiplepmb_csv'"
		},
		"lssqladls1_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lssqladls1'"
		},
		"lssqlserver_password": {
			"type": "secureString",
			"metadata": "Secure string for 'password' of 'lssqlserver'"
		},
		"AzureDataLakeStorage1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage10_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage11_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage2_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage3_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage4_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage5_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage6_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage7_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage8_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureDataLakeStorage9_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"AzureKeyVault1_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://keyvaultprojectdata11.vault.azure.net/"
		},
		"AzureSqlDatabase1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "azuresqldatabase0011.database.windows.net"
		},
		"AzureSqlDatabase1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "testdata"
		},
		"AzureSqlDatabase1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "admindata"
		},
		"DSsqlserver_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Pranjal-Lapi\\SQLEXPRESS"
		},
		"DSsqlserver_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "msdb"
		},
		"DSsqlserver_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pranjal"
		},
		"LS_ADLS_CSVFILES_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"LS_bulk service_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net/"
		},
		"RestService1_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://retoolapi.dev/5yDVOt/data"
		},
		"SqlServer1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Pranjal-Lapi\\SQLEXPRESS"
		},
		"SqlServer1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "msdb"
		},
		"SqlServer1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pranjal"
		},
		"SqlServer2_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Pranjal-Lapi\\SQLEXPRESS"
		},
		"SqlServer2_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "msdb"
		},
		"SqlServer2_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pranjal"
		},
		"ls_multiplepmb_csv_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://adlsdevpmb.dfs.core.windows.net"
		},
		"lssqladls1_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Pranjal-Lapi\\SQLEXPRESS"
		},
		"lssqladls1_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "msdb"
		},
		"lssqladls1_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pranjal"
		},
		"lssqlserver_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "Pranjal-Lapi\\SQLEXPRESS"
		},
		"lssqlserver_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "msdb"
		},
		"lssqlserver_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "pranjal"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/For each')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ForEach1",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "Copy data1",
									"type": "Copy",
									"dependsOn": [],
									"policy": {
										"timeout": "0.12:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "DelimitedTextSource",
											"storeSettings": {
												"type": "AzureBlobFSReadSettings",
												"recursive": true,
												"wildcardFileName": {
													"value": "@item().name",
													"type": "Expression"
												},
												"enablePartitionDiscovery": false
											},
											"formatSettings": {
												"type": "DelimitedTextReadSettings"
											}
										},
										"sink": {
											"type": "DelimitedTextSink",
											"storeSettings": {
												"type": "AzureBlobFSWriteSettings"
											},
											"formatSettings": {
												"type": "DelimitedTextWriteSettings",
												"quoteAllText": true,
												"fileExtension": ".txt"
											}
										},
										"enableStaging": false,
										"translator": {
											"type": "TabularTranslator",
											"typeConversion": true,
											"typeConversionSettings": {
												"allowDataTruncation": true,
												"treatBooleanAsNumber": false
											}
										}
									},
									"inputs": [
										{
											"referenceName": "DelimitedText7",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "DelimitedText8",
											"type": "DatasetReference",
											"parameters": {}
										}
									]
								}
							]
						}
					},
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText6",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-16T14:59:44Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText6')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText7')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText8')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Lookuppipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookupcode",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"dataset": {
								"referenceName": "DelimitedText2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "lookupcode",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('lookupcode').output.value",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().SIC_code,'1120')",
								"type": "Expression"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-13T17:25:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PL_GETMETADATA')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "dsadlscsvfies",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"lastModified"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-13T17:05:21Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dsadlscsvfies')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/PLrestparque')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "RestSource",
								"httpRequestTimeout": "00:01:40",
								"requestInterval": "00.00:00:00.010",
								"requestMethod": "GET",
								"paginationRules": {
									"supportRFC5988": "true"
								}
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"mappings": [
									{
										"source": {
											"path": "$['id']"
										},
										"sink": {
											"name": "id"
										}
									},
									{
										"source": {
											"path": "$['Sku']"
										},
										"sink": {
											"name": "Sku"
										}
									},
									{
										"source": {
											"path": "$['TP 1']"
										},
										"sink": {
											"name": "TP1"
										}
									},
									{
										"source": {
											"path": "$['TP 2']"
										},
										"sink": {
											"name": "TP2"
										}
									},
									{
										"source": {
											"path": "$['index']"
										},
										"sink": {
											"name": "index"
										}
									},
									{
										"source": {
											"path": "$['Weight']"
										},
										"sink": {
											"name": "Weight"
										}
									},
									{
										"source": {
											"path": "$['Catalog']"
										},
										"sink": {
											"name": "Catalog"
										}
									},
									{
										"source": {
											"path": "$['MRP Old']"
										},
										"sink": {
											"name": "MRPOld"
										}
									},
									{
										"source": {
											"path": "$['Ajio MRP']"
										},
										"sink": {
											"name": "AjioMRP"
										}
									},
									{
										"source": {
											"path": "$['Category']"
										},
										"sink": {
											"name": "Category"
										}
									},
									{
										"source": {
											"path": "$['Style Id']"
										},
										"sink": {
											"name": "StyleId"
										}
									},
									{
										"source": {
											"path": "$['Paytm MRP']"
										},
										"sink": {
											"name": "PaytmMRP"
										}
									},
									{
										"source": {
											"path": "$['Amazon MRP']"
										},
										"sink": {
											"name": "AmazonMRP"
										}
									},
									{
										"source": {
											"path": "$['Myntra MRP']"
										},
										"sink": {
											"name": "MyntraMRP"
										}
									},
									{
										"source": {
											"path": "$['Flipkart MRP']"
										},
										"sink": {
											"name": "FlipkartMRP"
										}
									},
									{
										"source": {
											"path": "$['Limeroad MRP']"
										},
										"sink": {
											"name": "LimeroadMRP"
										}
									},
									{
										"source": {
											"path": "$['Snapdeal MRP']"
										},
										"sink": {
											"name": "SnapdealMRP"
										}
									},
									{
										"source": {
											"path": "$['Final MRP Old']"
										},
										"sink": {
											"name": "FinalMRPOld"
										}
									},
									{
										"source": {
											"path": "$['Amazon FBA MRP']"
										},
										"sink": {
											"name": "AmazonFBAMRP"
										}
									}
								]
							}
						},
						"inputs": [
							{
								"referenceName": "RestResource1",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet3",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-10T18:02:13Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/RestResource1')]",
				"[concat(variables('factoryId'), '/datasets/Parquet3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Validationact')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "fileexistornot",
						"type": "Validation",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"timeout": "0.12:00:00",
							"sleep": 10
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-11T17:49:23Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipeline1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "DelimitedText3",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"childItems"
							],
							"storeSettings": {
								"type": "AzureBlobFSReadSettings",
								"recursive": true,
								"enablePartitionDiscovery": false
							},
							"formatSettings": {
								"type": "DelimitedTextReadSettings"
							}
						}
					},
					{
						"name": "Filter1",
						"type": "Filter",
						"dependsOn": [
							{
								"activity": "Get Metadata1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('Get Metadata1').output.childItems",
								"type": "Expression"
							},
							"condition": {
								"value": "@equals(item().name,'Sales')",
								"type": "Expression"
							}
						}
					},
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [
							{
								"activity": "Filter1",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "DelimitedTextSource",
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"wildcardFileName": "Sales.csv",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							},
							"sink": {
								"type": "DelimitedTextSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "DelimitedTextWriteSettings",
									"quoteAllText": true,
									"fileExtension": ".txt"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "DelimitedText5",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "DelimitedText4",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-15T09:09:47Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/DelimitedText3')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText5')]",
				"[concat(variables('factoryId'), '/datasets/DelimitedText4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/pipelinecolumncount')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Get Metadata1",
						"type": "GetMetadata",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataset": {
								"referenceName": "SqlServerTable2",
								"type": "DatasetReference",
								"parameters": {}
							},
							"fieldList": [
								"columnCount"
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-13T17:05:22Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plinsertoutput')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "spinsertinput",
						"type": "SqlServerStoredProcedure",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"storedProcedureName": "[[dbo].[InsertCustomer]",
							"storedProcedureParameters": {
								"CustomerID": {
									"value": "1",
									"type": "Int32"
								},
								"FirstName": {
									"value": "rohit",
									"type": "String"
								},
								"LastName": {
									"value": "j",
									"type": "String"
								}
							}
						},
						"linkedServiceName": {
							"referenceName": "SqlServer1",
							"type": "LinkedServiceReference"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-10T19:17:48Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plsqllookup')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "lookupcode",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"sqlReaderQuery": "SELECT TOP (5) [backup_set_id]\n      ,[first_family_number]\n      ,[first_media_number]\n      ,[filegroup_name]\n      ,[page_size]\n  FROM [msdb].[dbo].[backupfile]",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "SqlServerTable1",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-13T17:25:25Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/SqlServerTable1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/plsqlmigration1')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "Copy data1",
						"type": "Copy",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlServerSource",
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"sink": {
								"type": "ParquetSink",
								"storeSettings": {
									"type": "AzureBlobFSWriteSettings"
								},
								"formatSettings": {
									"type": "ParquetWriteSettings"
								}
							},
							"enableStaging": false,
							"translator": {
								"type": "TabularTranslator",
								"typeConversion": true,
								"typeConversionSettings": {
									"allowDataTruncation": true,
									"treatBooleanAsNumber": false
								}
							}
						},
						"inputs": [
							{
								"referenceName": "dssqladls",
								"type": "DatasetReference",
								"parameters": {}
							}
						],
						"outputs": [
							{
								"referenceName": "Parquet2",
								"type": "DatasetReference",
								"parameters": {}
							}
						]
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": [],
				"lastPublishTime": "2026-03-10T17:38:03Z"
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/dssqladls')]",
				"[concat(variables('factoryId'), '/datasets/Parquet2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSsqlserver')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lssqlserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "backup_set_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "first_family_number",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "first_media_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "filegroup_name",
						"type": "nvarchar"
					},
					{
						"name": "page_size",
						"type": "int",
						"precision": 10
					},
					{
						"name": "file_number",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "backed_up_page_count",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "file_type",
						"type": "char"
					},
					{
						"name": "source_file_block_size",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "file_size",
						"type": "decimal",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "logical_name",
						"type": "nvarchar"
					},
					{
						"name": "physical_drive",
						"type": "nvarchar"
					},
					{
						"name": "physical_name",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "state_desc",
						"type": "nvarchar"
					},
					{
						"name": "create_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "drop_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "file_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "read_only_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "read_write_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "differential_base_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "differential_base_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "backup_size",
						"type": "decimal",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "filegroup_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "is_readonly",
						"type": "bit"
					},
					{
						"name": "is_present",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "backupfile"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lssqlserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage4",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "industry_sic.csv",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage4')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage5",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "industry_sic.csv",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage5')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage6",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage6')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText4')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage7",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "Output",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage7')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText5')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage8",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage8')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText6')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage9",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "input160326"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "movieId",
						"type": "String"
					},
					{
						"name": "title",
						"type": "String"
					},
					{
						"name": "genres",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage9')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText7')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage10",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "input160326"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage10')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DelimitedText8')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage11",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "output160326"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage11')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "outputmultiplefilespmb"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "outputmultiplefilespmb"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/Parquet3')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "AzureDataLakeStorage3",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "outputmultiplefilespmb"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "backup_set_id",
						"type": "INT32"
					},
					{
						"name": "first_family_number",
						"type": "INT32"
					},
					{
						"name": "first_media_number",
						"type": "INT32"
					},
					{
						"name": "filegroup_name",
						"type": "UTF8"
					},
					{
						"name": "page_size",
						"type": "INT32"
					},
					{
						"name": "file_number",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "backed_up_page_count",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "file_type",
						"type": "UTF8"
					},
					{
						"name": "source_file_block_size",
						"type": "DECIMAL",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "file_size",
						"type": "DECIMAL",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "logical_name",
						"type": "UTF8"
					},
					{
						"name": "physical_drive",
						"type": "UTF8"
					},
					{
						"name": "physical_name",
						"type": "UTF8"
					},
					{
						"name": "state",
						"type": "INT32"
					},
					{
						"name": "state_desc",
						"type": "UTF8"
					},
					{
						"name": "create_lsn",
						"type": "DECIMAL",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "drop_lsn",
						"type": "DECIMAL",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "file_guid",
						"type": "UTF8"
					},
					{
						"name": "read_only_lsn",
						"type": "DECIMAL",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "read_write_lsn",
						"type": "DECIMAL",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "differential_base_lsn",
						"type": "DECIMAL",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "differential_base_guid",
						"type": "UTF8"
					},
					{
						"name": "backup_size",
						"type": "DECIMAL",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "filegroup_guid",
						"type": "UTF8"
					},
					{
						"name": "is_readonly",
						"type": "BOOLEAN"
					},
					{
						"name": "is_present",
						"type": "BOOLEAN"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureDataLakeStorage3')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestResource1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "RestService1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "RestResource",
				"typeProperties": {},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/RestService1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable1')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "SqlServer2",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "backup_set_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "first_family_number",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "first_media_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "filegroup_name",
						"type": "nvarchar"
					},
					{
						"name": "page_size",
						"type": "int",
						"precision": 10
					},
					{
						"name": "file_number",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "backed_up_page_count",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "file_type",
						"type": "char"
					},
					{
						"name": "source_file_block_size",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "file_size",
						"type": "decimal",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "logical_name",
						"type": "nvarchar"
					},
					{
						"name": "physical_drive",
						"type": "nvarchar"
					},
					{
						"name": "physical_name",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "state_desc",
						"type": "nvarchar"
					},
					{
						"name": "create_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "drop_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "file_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "read_only_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "read_write_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "differential_base_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "differential_base_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "backup_size",
						"type": "decimal",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "filegroup_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "is_readonly",
						"type": "bit"
					},
					{
						"name": "is_present",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "backupfile"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/SqlServer2')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServerTable2')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lssqlserver",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "backup_set_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "first_family_number",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "first_media_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "filegroup_name",
						"type": "nvarchar"
					},
					{
						"name": "page_size",
						"type": "int",
						"precision": 10
					},
					{
						"name": "file_number",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "backed_up_page_count",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "file_type",
						"type": "char"
					},
					{
						"name": "source_file_block_size",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "file_size",
						"type": "decimal",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "logical_name",
						"type": "nvarchar"
					},
					{
						"name": "physical_drive",
						"type": "nvarchar"
					},
					{
						"name": "physical_name",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "state_desc",
						"type": "nvarchar"
					},
					{
						"name": "create_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "drop_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "file_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "read_only_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "read_write_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "differential_base_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "differential_base_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "backup_size",
						"type": "decimal",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "filegroup_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "is_readonly",
						"type": "bit"
					},
					{
						"name": "is_present",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "backupfile"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lssqlserver')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dsadlscsvfies')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "LS_ADLS_CSVFILES",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileSystem": "test"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "SIC_Code",
						"type": "String"
					},
					{
						"name": "Description",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/LS_ADLS_CSVFILES')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/dssqladls')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "lssqladls1",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "SqlServerTable",
				"schema": [
					{
						"name": "backup_set_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "first_family_number",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "first_media_number",
						"type": "smallint",
						"precision": 5
					},
					{
						"name": "filegroup_name",
						"type": "nvarchar"
					},
					{
						"name": "page_size",
						"type": "int",
						"precision": 10
					},
					{
						"name": "file_number",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "backed_up_page_count",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "file_type",
						"type": "char"
					},
					{
						"name": "source_file_block_size",
						"type": "decimal",
						"precision": 10,
						"scale": 0
					},
					{
						"name": "file_size",
						"type": "decimal",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "logical_name",
						"type": "nvarchar"
					},
					{
						"name": "physical_drive",
						"type": "nvarchar"
					},
					{
						"name": "physical_name",
						"type": "nvarchar"
					},
					{
						"name": "state",
						"type": "tinyint",
						"precision": 3
					},
					{
						"name": "state_desc",
						"type": "nvarchar"
					},
					{
						"name": "create_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "drop_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "file_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "read_only_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "read_write_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "differential_base_lsn",
						"type": "decimal",
						"precision": 25,
						"scale": 0
					},
					{
						"name": "differential_base_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "backup_size",
						"type": "decimal",
						"precision": 20,
						"scale": 0
					},
					{
						"name": "filegroup_guid",
						"type": "uniqueidentifier"
					},
					{
						"name": "is_readonly",
						"type": "bit"
					},
					{
						"name": "is_present",
						"type": "bit"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "backupfile"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/lssqladls1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage1_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage1_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage10')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage10_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage10_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage11')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage11_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage11_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage2_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage2_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage3')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage3_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage3_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage4')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage4_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage4_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage5')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage5_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage5_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage6')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage6_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage6_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage7')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage7_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage7_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage8')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage8_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage8_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureDataLakeStorage9')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('AzureDataLakeStorage9_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('AzureDataLakeStorage9_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureKeyVault1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('AzureKeyVault1_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/AzureSqlDatabase1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('AzureSqlDatabase1_properties_typeProperties_server')]",
					"database": "[parameters('AzureSqlDatabase1_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('AzureSqlDatabase1_properties_typeProperties_userName')]",
					"password": {
						"type": "AzureKeyVaultSecret",
						"store": {
							"referenceName": "AzureKeyVault1",
							"type": "LinkedServiceReference"
						},
						"secretName": "keyvaultprojectdata111",
						"secretVersion": "f32f6d3a24bb4d659f6658121ea4d8a2"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/AzureKeyVault1')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/DSsqlserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('DSsqlserver_properties_typeProperties_server')]",
					"database": "[parameters('DSsqlserver_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('DSsqlserver_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('DSsqlserver_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhostedruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhostedruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_ADLS_CSVFILES')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_ADLS_CSVFILES_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_ADLS_CSVFILES_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/LS_bulk service')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('LS_bulk service_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('LS_bulk service_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/RestService1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "RestService",
				"typeProperties": {
					"url": "[parameters('RestService1_properties_typeProperties_url')]",
					"enableServerCertificateValidation": true,
					"authenticationType": "Anonymous"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer1_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer1_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhostedruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhostedruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/SqlServer2')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('SqlServer2_properties_typeProperties_server')]",
					"database": "[parameters('SqlServer2_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('SqlServer2_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('SqlServer2_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhostedruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhostedruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/ls_multiplepmb_csv')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ls_multiplepmb_csv_properties_typeProperties_url')]",
					"accountKey": {
						"type": "SecureString",
						"value": "[parameters('ls_multiplepmb_csv_accountKey')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/lssqladls1')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('lssqladls1_properties_typeProperties_server')]",
					"database": "[parameters('lssqladls1_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('lssqladls1_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lssqladls1_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhostedruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhostedruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/lssqlserver')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "SqlServer",
				"typeProperties": {
					"server": "[parameters('lssqlserver_properties_typeProperties_server')]",
					"database": "[parameters('lssqlserver_properties_typeProperties_database')]",
					"encrypt": "optional",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('lssqlserver_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('lssqlserver_password')]"
					}
				},
				"connectVia": {
					"referenceName": "selfhostedruntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/integrationRuntimes/selfhostedruntime')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/selfhostedruntime')]",
			"type": "Microsoft.DataFactory/factories/integrationRuntimes",
			"apiVersion": "2018-06-01",
			"properties": {
				"type": "SelfHosted",
				"typeProperties": {}
			},
			"dependsOn": []
		}
	]
}